@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
  --primary-color: #272a31;
  --secondary-color: #ec5242;
  --third-color: #d3d3d3;
}

/* Colors */
.color1 {
  color: var(--primary-color);
}

.color2 {
  color: var(--secondary-color);
}

.color3 {
  color: var(--third-color);
}

.bg-color1 {
  background-color: var(--primary-color);
}

.bg-color2 {
  background-color: var(--secondary-color);
}

.bg-color3 {
  background-color: var(--third-color);
}

/* Header */
.header-container {
  background-image: url(/assets/images/headline-bg-pattern.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.headline-title-container h1 {
  font-size: 45px;
  background: -webkit-linear-gradient(45deg, #dd0909, #ff7b00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headline-description-container p {
  font-size: 14px;
  background-color: #eeeeee;
}
